.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
\.#*
\#*\#
*~
~*
*.pyc
\.idea/
#\.idea/*/**
node_modules
Android
platforms
tns_modules
App_Resources
*.o
*.so
*.d